.navBar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 10px;
  font-weight: bold;
  background-color: #f1f2f6;
  font-family: 'Assistant', sans-serif;
  border-radius: 5px;
}

.pageName {
  color: black;
}

.pageTitle{
font-family: 'Assistant', sans-serif;
  text-align: center;

}

.subheading{
  font-family: 'Assistant', sans-serif;
  font-weight:bold;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  font-family: 'Assistant', sans-serif;
  /* background-color: white; */
  padding: 10px;
  gap: 20px;
}

.submitBtn {
  border-radius: 10px;
  font-family: 'Assistant', sans-serif;
  border-color: #dfe4ea;
  border-width:thin;
  border-style: solid;
  transition-duration: 0.4s;
  cursor: pointer;
  /* color: white; */
  padding: 8px;
  cursor: pointer;
  padding: 8px;
  background-color:white;
  font-size: 16px;
}

.submitBtn:hover {
  opacity: 0.7;
}

.inputBox{
  border-radius: 10px;
  font-family: 'Assistant', sans-serif;
  padding: 8px;
}

.notcompletedContainer{
  display: flex;
  flex-direction: column;
  background-color:#dfe4ea;
  border-radius: 15px;
  /* margin: 50px; */
  /* padding-top: 20px; */
  font-family: 'Alata', sans-serif;
  font-family: 'Assistant', sans-serif;
  /* padding-bottom: 20px; */
  /* width: 500px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* max-width: max-content; */

}

.completedContainer {
  display: flex;
    flex-direction: column;
    background-color: #dfe4ea;
    border-radius: 15px;
    /* margin: 50px; */
    /* padding-top: 20px; */
    font-family: 'Alata', sans-serif;
    font-family: 'Assistant', sans-serif;
    /* padding-bottom: 20px; */
    /* width: 500px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* max-width: max-content; */
}

.todoContainer2{
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
/* 
.checkbox{
  /* border-radius: 50px; */


.todoContent{
    display: inline-block;
    gap: 5px;
    padding-right: 5px;
    color:#2f3542;

}


.todoActions{
  display: inline-block;
  gap: 5px;
  padding-right: 5px;
}


.deleteBtn{
    border-radius: 10px;
    font-family: 'Assistant', sans-serif;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    padding: 8px;
    background-color:#2f3542;

}

.updateBtn {
      border-radius: 10px;
      font-family: 'Assistant', sans-serif;
      border: none;
      transition-duration: 0.4s;
      cursor: pointer;
      /* color: white; */
      padding: 8px;
      background-color: white;
}

.updateBtn:hover {
  opacity: 0.7;
}

.updateContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center

}

.updateInputContainer{
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  border-radius: 20px;
  padding: 20px;
  border-color: #2f3542;
}

.addContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center

}

.filterContainer{
    display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #2f3542;
      border-radius: 20px;
      font-family: 'Alata', sans-serif;
      font-family: 'Assistant', sans-serif;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
}

.filterOptions{
      display: flex;
      flex-direction: row;
      gap: 10px;
}

.todoSection{
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.container{
    display: flex;
    flex-direction: column;
}

.filterStyle{
  color: white;
  font-weight: 500;
}

.bodyContainer{
  display: flex;
  flex-direction: column;
}

.topContainer{
    display: flex;
    flex-direction: row;
    background-color: #2f3542;
    margin: 20px;
    border-radius: 20px;
    width: 50%;
    align-self: start;
    align-items: center;
    margin:auto;

}

.featureContainer{
      display: flex;
        flex-direction: column;
        /* margin: 10px; */
        border-radius: 20px;
        width:400px ;
        padding: 20px;
        border-color: #2f3542;
}

.categoryContainer{
        display: flex;
          flex-direction: row;
          /* /* align-items: flex-start; */
          gap:20px;
          justify-content: space-between;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.categoryDropdown{
  border-radius: 10px;
  border-color: #2f3542;
}

.dateDropdown{
    border-radius: 10px;
      border-color: #2f3542;
      padding-left: 5px;
}